<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sdd">
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Address"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Designercustomerview"
            android:exported="false" />
        <activity
            android:name=".Viewcustomer"
            android:exported="false" />
        <activity
            android:name=".Developerprofile"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".HireDesigner"
            android:exported="true" />
        <activity
            android:name=".BillingDetail"
            android:exported="true" />
        <activity
            android:name=".Billing"
            android:exported="true" />
        <activity
            android:name=".ProfilePublicPrivate"
            android:exported="true" />
        <activity
            android:name=".ImageEditDelete"
            android:exported="true" />
        <activity
            android:name=".BillGenerate"
            android:exported="true" />
        <activity
            android:name=".EditProfile"
            android:exported="true" />
        <activity
            android:name=".DesignerProfileView"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>